/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* RESET CSS...MOVE OVER TO OWN FILE WHEN YOU CAN */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }


/**************** HEADER **************/

div, span, p, h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #484848;
  font-weight: normal;
}


#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 105px;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#app-header > h1 {
  padding: 10px;
}

.greeting {
  padding: 0 10px 10px 10px;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.greeting > button {
  padding: 0px 16px 0 16px;
}

.auth-button > a {
  text-decoration: none;
  padding: 0px 0px 8px 0px;
}


/**************** AUTHENTICATION **************/


.inner-auth {
  height: 100%;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  padding: 0 0 8px 0;
}

.inner-auth:hover {
  border-bottom: 2px solid #767676;
}

.auth-button {
  height: 30%;
  border: none;
  background-color: transparent;
  height: 100%;
  text-decoration: none;
  font-size: 14px;
}

.ReactModal__Body--open {
    overflow: hidden;
}


#session-modal-close:hover {
  cursor: pointer;
}

#session-form-parent {
  height: 100%;
  width: 100%;
  background: white;
  opacity: 1;
  padding: 33px;
}

#session-form {
  height: 80%;
  width: 100%;
  background: white;
  opacity: 1;
}

#login-message {
  margin: 24px 0 24px 0;
}

#login-message > h1 {
  font-size: 28px;
  font-weight: 700;
}

.auth-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}


.auth-input {
  padding: 11px;
  margin: 0 20px 20px 20px;
  font-size: 19px;
  font-weight: 300;
  margin: 0 0 16px 0;
  width: 80%;
  border-width: 1px 0 1px 1px;
  border-style: solid none solid solid;
  border-color: #e4e4e4;
}

.auth-input-icon {
  width: 14%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px 1px 1px 0;
  border-style: solid solid solid none;
  border-color: #e4e4e4;
  margin-left: 0;
  padding-left: 0;
}

#session-form-button {
  background: #FF5A5F;
  border-radius: 4px;
  font-size: 17px;
  border: none;
  padding: 12px 24px;
  color: white;
  width: 100%;
}

#session-form-footer {
  width: 90%;
  margin-top: 10px;
  padding: 20px;
  border-top: 1px solid #e4e4e4;
  color: #484848;
  font-weight: 300;
  display: flex;
  justify-content: center;
}


.session-footer > a {
  text-decoration: none;
  color: #008489;
}


/**************** SEARCH CONTAINER **************/

#search-container {
  display: flex;
  flex-direction: row;
}


/**************** BNB INDEX **************/

#index {
  width: 66%
}

#index-allItems {
  display: flex;
  flex-flow: row wrap;
}

.indexItem {
  padding: 8px 8px 12px 8px;
  width: 300px;
  height: 300px;
}

.indexItem-image {
  width: 300px;
  height: 200px;
}

.indexItem-topRow > span {
  font-weight: 700;
  font-size: 15px;
  padding: 0 4px 0 0;
}

.indexItem-midRow > span {
  font-weight: 300;
  padding: 0 4px 0 0;
}

.indexItem-bottomRow {
  margin: 5px 0 0 0;
  display: flex;
  align-content: flex-start;
}

.indexItem-bottomRow img {
  padding: 0px 1px 0 0;
}

.indexItem-bottomRow > span {
  display: flex;
  align-items: center;
}

#review-count  {
  padding: 4px 0 0 2px;
  font-size: 12px;
}

#Index-unreviewedBnb {
  background-color: #008489;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  padding: 3px;
  font-weight: 300;
}


/* BNB MAP */

#map-container {
  width: 40%;
  height: 500px;
}

#map-conatiner img {
  font-weight: 700;
}


/*Link color: #008489*/

/*grey link color: #484848*/

/* grey star color: #D8D8D8*/

/* logo color: #FF5A5F*/
